*

!Cargo.toml
!Cargo.lock
!Dockerfile
!Dockerfile.keycloak

!src/
!src/**

!vendor/
!vendor/rmcp/
!vendor/rmcp/Cargo.toml
!vendor/rmcp/LICENSE
!vendor/rmcp/README.md
!vendor/rmcp/UPSTREAM.md
!vendor/rmcp/src/
!vendor/rmcp/src/**

!config/
!config/access.example.json
!config/keycloak/
!config/keycloak/ofk-realm.json
