/target
/.plugin-build
/.scannerwork
/.vscode
.env
.position.env
.sonar.env
.sonar-stack.env
sonar.env
/config/access.json
/config/access.canary.json
/config/control-policy.json
.DS_Store
/nvim.log
/README.md
